.userForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    position: relative;

    .submitBtn {
        position: absolute;
        bottom: 0;
        background: #017922;
        width: 70%;
        margin-bottom: 4rem;
        height: 3.5rem;
        border-radius: 0.75rem;
    }
}